{% extends "base.html" %}

{% block title %}Flashcards da plataforma - Cardclass{% endblock %}

{% block content %} 
    <link rel="stylesheet" href="{{ url_for('static', filename='cardspla.css') }}">
    <h1>Matérias</h1>
    <nav class="cards_plataforma">
        <ul>
            <li><a href="{{ url_for('bio') }}">Biologia</a></li>
            <li><a href="{{ url_for('esp') }}">Espanhol</a></li>
            <li><a href="{{ url_for('filo') }}">Filosofia</a></li>
            <li><a href="{{ url_for('geo') }}">Geografia</a></li>
            <li><a href="{{ url_for('hist') }}">História</a></li>
            <li><a href="{{ url_for('ing') }}">Inglês</a></li>
            <li><a href="{{ url_for('mat') }}">Matemática</a></li>
        </ul>
    </nav>
{% endblock %}
