<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% if current_user.is_authenticated %}
        <h1>Bem-vindo(a), {{ current_user.nome }}</h1>
    {% else %}
        <p>Você não está logado. <a href="{{ url_for('login') }}">Clique aqui para fazer login</a></p>
    {% endif %}

    <form action="{{url_for('logout')}}" method="POST">
        <button>Sair</button>
    </form>

</body>
</html>
