{% extends "base.html" %}

{% block title %}Meus Flashcards - Cardclass{% endblock %}

{% block content %}
<h2>Meus Flashcards</h2>

{% if termo_busca %}
    <p>Resultados para: "{{ termo_busca }}"</p>
    <a href="{{ url_for('meus_flashcards') }}">Limpar pesquisa</a>
{% endif %}

{% if flashcards %}
  <ul>
    {% for f in flashcards %}
  <li>
    <div class="flashcard-container {% if ultimo_flashcard and f['id'] == ultimo_flashcard|int %}ultimo-visto{% endif %}">
      <strong>Matéria:</strong> {{ f['materia'] }} <br>
      <strong>Pergunta:</strong> {{ f['pergunta'] }} <br>
      <strong>Resposta:</strong> {{ f['resposta'] }}

      <div class="flashcard-actions">
        <form action="{{ url_for('excluir_flashcard') }}" method="POST">
            <input type="hidden" name="id" value="{{ f['id'] }}">
            <button type="submit" class="excluir">Excluir</button>
        </form>
       
        <form action="{{ url_for('editar_flashcard') }}" method="POST">
            <input type="hidden" name="id" value="{{ f['id'] }}">
            <button type="submit" class="editar">Editar</button>
        </form>

        <a href="{{ url_for('marcar_flashcard', flashcard_id=f['id']) }}" class="marcar">Marcar como último visto</a>

      </div>
    </div>
  </li>
{% endfor %}
  </ul>
{% else %}
  {% if termo_busca %}
    <p>Nenhum flashcard encontrado para "{{ termo_busca }}".</p>
  {% else %}
    <p>Você não criou nenhum flashcard ainda.</p>
  {% endif %}
{% endif %}

<a href="{{ url_for('dash') }}">Voltar ao Dashboard</a>
{% endblock %}